* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    position: relative;
}
.overlay {
    position: aboslute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: white;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 20px 20px;;
}
.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.hidden {
    display: none;
}

header  {
    font-size: 15px;
    margin: 40px 0 25px 0;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 15px;
    margin: 0 10px;
}
.card {
    display: flex;
    border: 1px solid lightslategray;
    border-radius: 25px;
}
.avatar {
    border-radius: 25px;
    margin: 15px;
}
.text-container {
    margin: 25px 5px;
}
.name {
    margin-bottom: 0;
    font-size: medium;
}
.address, 
.email {
    color: darkgrey;
    margin: 8px 0;
    font-size: x-small;
}

